.search-content {
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 5px 35px rgba(44, 72, 154, 0.2);
  background-color: #fff;
}

.search-content-wrapper {
  position: relative;
}